@page "/"

<PageTitle>Home</PageTitle>

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="button-box">
    <NavLink href="tasks/Maitenance">
        <button class="btn btn-block button">
            Maitenance
        </button>
    </NavLink>

    <NavLink href="tasks/Cleaning">
        <button class="btn btn-block button">
            Cleaning
        </button>
    </NavLink>

    <NavLink href="tasks/Service">
        <button class="btn btn-block button">
            Service
        </button>
    </NavLink>
</div>


